doctype html
html
  head
    title Hello Web Game!
    script(src='/socket.io/socket.io.js')
    script(src='script/lobbyscript.js')
    script(src='script/jquery.min.js')
    script(src='script/waitingroomscript.js')
    script(src='script/playgamescript.js')
    link(rel='stylesheet', href='css/playgamecss.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
  body
